/*@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 998px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}*/


#footer {
    background-color: #25B33f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;

}

.header-bg {
    font-size: 6rem;
    background-color: aquamarine;
    border-radius: 12px;

}

.header-bg a {
    text-decoration: none;

}


.body {
    text-align: center;
    border: 1px solid white;
}

#size_face {
    width: 400px;
    height: 400px;

}

table {
    width: 500px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */

}

td, th {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid maroon; /* Параметры рамки */

    text-align: center;


}

.block-animation {
    width: 40px;
    height: 130px;
    background-color: yellow;
    transition: width 3s cubic-bezier(0, 0, 1, 1) 50ms;
}

.block-animation:hover {
    width: 200px;
}

.animation-section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.animation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0eab40;
    animation: animateBg 10s linear infinite;
    border-radius: 12px;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section .loader {
    width: 120px;
    height: 12px;
    position: relative;
}

section .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(17.5deg * var(--i)));

}

section .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #00ff0d;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0d,
    0 0 20px #00ff0d,
    0 0 40px #00ff0d,
    0 0 60px #00ff0d,
    0 0 80px #00ff0d,
    0 0 100px #00ff0d;

    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));

}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    80%, 100% {
        transform: scale(1);
    }
}

#input-invalid:invalid {
    animation: shake 8s;
}

@keyframes shake {
    5% {
        transform: translateX(4rem)
    }
    10% {
        transform: translateX(-4rem)
    }
    15% {
        transform: translateX(4rem)
    }
    20% {
        transform: translateX(-4rem)
    }
    25% {
        transform: translateX(4rem)
    }
    30% {
        transform: translateX(-4rem)
    }
    35% {
        transform: translateX(4rem)
    }
    40% {
        transform: translateX(-4rem)
    }
    45% {
        transform: translateX(4rem)
    }
    50% {
        transform: translateX(-4rem)
    }
    55% {
        transform: translateX(4rem)
    }
    60% {
        transform: translateX(-4rem)
    }
    65% {
        transform: translateX(4rem)
    }
    70% {
        transform: translateX(-4rem)
    }
    75% {
        transform: translateX(4rem)
    }
    80% {
        transform: translateX(-4rem)
    }
    85% {
        transform: translateX(4rem)
    }
    90% {
        transform: translateX(-4rem)
    }
    95% {
        transform: translateX(4rem)
    }
    100% {
        transform: translateX(-4rem)
    }
}

#input-invalid {
    font-size: 4rem;
    border-color: darkolivegreen;
}


@media (max-width: 1200px) {
    .body {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
    }
}

#my_project {
    font-size: 3rem;

    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    background-color: lightseagreen;
    border-radius: 12px;
    max-width: 50rem;
    margin: 0 auto;
    display: block;

}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    height: 4rem;
}

#counter {
    height: 4rem;
    font-size: 4rem;

}


#button {
    --color: firebrick;
    --border-color: firebrick;
    --shadow-color: rgb(112, 20, 20);

    position: relative;
    font-size: .75rem;
    width: 200px;
    height: 75px;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
    border: none;
    background-size: cover;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-weight: bold;
    background-color: lightsalmon;

}

/*
test
*/

#button:active {
    top: 6px;

}

.input_city,#button_city{
    font-size: 4rem;
}
