@media only screen and (max-width: 1200px) {
    .body {
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
    }

    #contact_us_form input, #contact_us_form textarea {
        font-size: 4rem !important;
    }

    #contact_us_form button {
        font-size: 3rem !important;
    }

}

@media only screen and (max-width: 991px){
    .gallery-item{
        flex: 33.3% !important;
    }
}
@media only screen and (max-width: 768px){
    .gallery-item{
        flex: 50% !important;
    }
}
@media only screen and (max-width: 530px){
    .gallery-item{
        flex: 100% !important;
    }
}

#footer {
    background-color: #25B33f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;

}

.header-bg {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
    border-radius: 12px;

}

.header-bg a {

    text-decoration: none;
    gap: 1rem;
    margin: 5px;
    padding: 5px;
    background-color: olive;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 3rem;

}


.body {
    text-align: center;
    border: 1px solid white;
}

#size_face {
    width: 35%;
    height: 35%;

}

table {
    width: 500px;
    border-collapse: collapse;
    border: 2px solid white;
    margin: auto;

}

td, th {
    padding: 3px;
    border: 1px solid maroon;

    text-align: center;


}

.block-animation {
    width: 40px;
    height: 130px;
    background-color: yellow;
    transition: width 3s cubic-bezier(0, 0, 1, 1) 50ms;
}

.block-animation:hover {
    width: 200px;
}

#animation-section {
    margin: 2rem
}

.animation-section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.animation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0eab40;
    animation: animateBg 10s linear infinite;
    border-radius: 12px;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

section .loader {
    width: 120px;
    height: 12px;
    position: relative;
}

section .loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(17.5deg * var(--i)));

}

section .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #00ff0d;
    border-radius: 50%;
    box-shadow: 0 0 10px #00ff0d,
    0 0 20px #00ff0d,
    0 0 40px #00ff0d,
    0 0 60px #00ff0d,
    0 0 80px #00ff0d,
    0 0 100px #00ff0d;

    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));

}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    80%, 100% {
        transform: scale(1);
    }
}

#input-invalid:invalid {
    animation: shake 8s;

}

@keyframes shake {
    5% {
        transform: translateX(4rem)
    }
    10% {
        transform: translateX(-4rem)
    }
    15% {
        transform: translateX(4rem)
    }
    20% {
        transform: translateX(-4rem)
    }
    25% {
        transform: translateX(4rem)
    }
    30% {
        transform: translateX(-4rem)
    }
    35% {
        transform: translateX(4rem)
    }
    40% {
        transform: translateX(-4rem)
    }
    45% {
        transform: translateX(4rem)
    }
    50% {
        transform: translateX(-4rem)
    }
    55% {
        transform: translateX(4rem)
    }
    60% {
        transform: translateX(-4rem)
    }
    65% {
        transform: translateX(4rem)
    }
    70% {
        transform: translateX(-4rem)
    }
    75% {
        transform: translateX(4rem)
    }
    80% {
        transform: translateX(-4rem)
    }
    85% {
        transform: translateX(4rem)
    }
    90% {
        transform: translateX(-4rem)
    }
    95% {
        transform: translateX(4rem)
    }
    100% {
        transform: translateX(-4rem)
    }
}

#input-invalid {
    font-size: 3rem;
    border-color: darkolivegreen;
}


#my_project {
    font-size: 3rem;

    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    background-color: lightseagreen;
    border-radius: 12px;
    max-width: 50rem;
    margin: 0 auto;
    display: block;

}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#counter {
    height: 5rem;
    font-size: 5rem;

}


#button {


    position: relative;
    font-size: .75rem;
    width: 200px;
    height: 75px;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;
    border: none;
    outline: none;
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-weight: bold;
    background-color: lightsalmon;

}


#button:active {
    top: 6px;
}

.input_city {
    background: lightskyblue;
}

.input_city, #button_city {
    font-size: 3rem;
}

#contact_us {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact_us_form {
    background: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

#contact_us_form h2 {
    color: lightcoral;
    font-weight: 800;
    margin-bottom: 20px;
}

#contact_us_form input, #contact_us_form textarea {
    border: 0;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    background: lightcyan;
    font-size: 16px;


}

#contact_us_form button {
    padding: 15px;
    background: lightsalmon;
    color: lightskyblue;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;

}


.my_gallery{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

section.gallery{
    position: relative;
    padding: 45px 0;
}

h2.title{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    position: relative;
}
h2.title:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #111111;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.gallery-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0;
    margin-top: 30px;
}
.gallery-item{
    display: block;
    flex: 25%;
    overflow: hidden;
    position: relative;
}
.gallery-item-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 2;
}
.gallery-item:hover .gallery-item-hover{
    opacity: 1;
}
.gallery-item:hover img{
    transform: scale(1.3) rotate(5deg);
}
.gallery-item img{
    max-width: 100%;
    height: auto;
    transition: all .5s ease;
}

